<tr>
  <td class="quantity"><%= order_item.quantity %></td>
  <td><%= order_item.food.name %></td>
  <td class="price"><%= number_to_currency(order_item.total_price, unit: 'Rp ', delimiter: '.', precision: 0) %></td>
</tr>
